
.overlay-cat-container {
    /* position: relative;*/
    position: absolute;
    left: 80px;
    right: 80px;

    min-width: 50%;
    min-height: 25%;
    border: 1px solid rgba(243, 157, 52, 0.8);
    padding: 16px;
    color: rgba(0,0,0,0.8);
    z-index:2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 228, 196,0.9);

    border-radius: 10px;


    transition: all 200ms ease-in-out;

}

#overlay-cat-content {
    display: flex;
    flex-direction:row;
    gap: 16px; 
}

